extends ../includes/_layout.pug

block あらすじ
	p １９４５年。１９３９年から勃発した第二次世界大戦は、意外な形で結末を迎えることになった。
	p 月と地球の間、２４万ｋｍの距離に突如出現した黒い月、それに続く、幻獣と呼ばれる人類の天敵の出現である。
	p 人類同士の戦争はそこで終わり、それから５０年。
	p 中国での焦土作戦失敗とともにユーラシア大陸から追い立てられた人類の存在できる地域は、南北アメリカと南アフリカの一部、そして日本のみとなり、人類と幻獣の戦いは今もって続いている。
	p １９９９年。日本もついに学生が戦車の操縦を学ぶ時代になってしまった。 土地の8割と多大な犠牲を支払う歴史的な大敗の末、熊本は日本最後の砦となり、多くの少年達が少年兵として招集される。