extends includes/_layout.pug
block 個別設定
	-
		ID = "echo_night"
		//- あらすじ縦 = true

block あらすじ
	p 1937年、アメリカ。#[br]
		| その日、リチャード・オズモンドのもとに届けられた封筒はあまりにも奇妙なものだった。#[br]
		| 差出人として彼の父の名が記されたその封筒の中には、見覚えのない小さな鍵が一つ入っていただけだった。#[br]
		| 手紙の類は一切無く、それが何を意味するものなのか、彼には全く思い当たるところがなかった。

	p 思い悩んでいた彼は、電話の鳴る音ではっと我に返った。#[br]
		| 電話の向こうの声は警察を名乗り、父親の家が火事にあったことを告げた。#[br]
		| 驚いた彼は慌てて身支度をすると、自らの故郷へと向かった。

	p その旅立ちが、後の奇妙な体験の始まりであることに、その時の彼は気付くはずもなかった……。


block 本文
	//- section#video
	//- 	h3.section-title 配信ログ
	//- 	.video-grid
	//- 		+youtube("タイトル","URL")
	//- 		+twitch("タイトル","URL")

	//- +SECTION("impression")
	//- 	p クリア感想の話
	//- +SECTION("memo")
	//- 	p プレイメモの話
	//- +SECTION("character")
	//- 	p 登場人物の話
	//- +SECTION("story")
	//- 	p お話の内容まとめの話
	//- +SECTION("data")
	//- 	p ゲームデータの話