-
	const allgame = {
		arc_the_lad : {
			sort : "アークザ1",
			genre : "RPG",
			series : "アークザラッド",
			title : "アークザラッド",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		arc_the_lad2 : {
			sort : "アークザ2",
			genre : "RPG",
			series : "アークザラッド",
			title : "アークザラッドⅡ",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		arc_the_lad3 : {
			sort : "アークザ3",
			genre : "RPG",
			series : "アークザラッド",
			title : "アークザラッドⅢ",
			status : "未プレイ",
			platform : "PS"
		},
		r4 : {
			sort : "アール4",
			genre : "RCG",
			title : "R4",
			sub : "RIDGE RACER TYPE 4",
			stream : true,
			status : "ED未コンプ",
			platform : "PS"
		},
		avaloncode : {
			sort : "アヴァロ",
			genre : "RPGA",
			title : "アヴァロンコード",
			stream : false,
			status : "クリア",
			platform : "DS"
		},
		atlier_marie : {
			sort : "アトリエ1",
			genre : "RPG",
			series : "アトリエ",
			title : "マリーのアトリエ プラス",
			stream : false,
			status : "ED未コンプ",
			platform : "PS",
			love : "2"
		},
		atlier_elie : {
			sort : "アトリエ2",
			genre : "RPG",
			series : "アトリエ",
			title : "エリーのアトリエ",
			stream : false,
			status : "ED未コンプ",
			platform : "PS",
			love : "2"
		},
		atlier_lilie : {
			sort : "アトリエ3",
			genre : "RPG",
			series : "アトリエ",
			title : "リリーのアトリエ",
			stream : false,
			status : "ED未コンプ",
			platform : "PS"
		},
		alundra : {
			sort : "アランドラ1",
			genre : "RPGA",
			series : "アランドラ",
			title : "アランドラ",
			stream : true,
			status : "クリア",
			platform : "PS",
			love : "1"
		},
		alundra2 : {
			sort : "アランドラ2",
			genre : "RPGA",
			series : "アランドラ",
			title : "アランドラ2",
			sub : "魔進化の謎",
			stream : true,
			status : "停止中",
			platform : "PS"
		},
		archaic_sealed_heat : {
			sort : "アルカイック",
			genre : "RPGS",
			title : "アルカイックシールドヒート",
			stream : false,
			status : "停止中",
			platform : "DS"
		},
		inazuma_eleven : {
			sort : "イナズマ1",
			genre : "RPGS",
			series : "イナズマイレブン",
			title : "イナズマイレブン",
			status : "停止中",
			platform : "DS"
		},
		inazuma_eleven2 : {
			sort : "イナズマ2",
			genre : "RPGS",
			series : "イナズマイレブン",
			title : "イナズマイレブン2",
			sub : "脅威の侵略者・ファイア",
			status : "未プレイ",
			platform : "DS"
		},
		inazuma_eleven3 : {
			sort : "イナズマ3",
			genre : "RPGS",
			series : "イナズマイレブン",
			title : "イナズマイレブン3",
			sub : "世界への挑戦!! ボンバー",
			status : "未プレイ",
			platform : "DS"
		},
		weltorv_estleia : {
			sort : "ウェルト",
			genre : "RPG",
			title : "ウェルトオブイストリア",
			stream : false,
			status : "ED未コンプ",
			platform : "PSアーカイブス",
			love : "2"
		},
		echo_night : {
			sort : "エコー1",
			genre : "ADV",
			series : "ECHO NIGHT",
			title : "ECHO NIGHT",
			stream : true,
			status : "今",
			platform : "PS"
		},
		echo_night2 : {
			sort : "エコー2",
			genre : "ADV",
			series : "ECHO NIGHT",
			title : "ECHO NIGHT#2",
			sub : "眠りの支配者",
			stream : true,
			status : "ED未コンプ",
			platform : "PS"
		},
		orenoshikabanewo_koeteyuke : {
			sort : "おれのしか",
			genre : "RPG",
			title : "俺の屍を越えてゆけ",
			stream : false,
			status : "クリア",
			platform : "PSアーカイブス",
			love : "3"
		},
		gaist_crusher : {
			sort : "ガイスト",
			genre : "ACT",
			title : "ガイストクラッシャー",
			stream : false,
			status : "クリア",
			platform : "DS"
		},
		klonoa : {
			sort : "かぜのク",
			genre : "ACT",
			series : "風のクロノア",
			title : "風のクロノア",
			sub : "door to phantomile",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		klonoa2 : {
			sort : "かぜのク",
			genre : "ACT",
			series : "風のクロノア",
			title : "風のクロノア2",
			sub : "世界が望んだ忘れもの",
			status : "未プレイ",
			platform : "PS2"
		},
		kindaichi : {
			sort : "きんだ1",
			genre : "ADV",
			series : "金田一少年の事件簿",
			title : "金田一少年の事件簿",
			sub : "悲報島 新たなる惨劇",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		kindaichi2 : {
			sort : "きんだ2",
			genre : "ADV",
			series : "金田一少年の事件簿",
			title : "金田一少年の事件簿2",
			sub : "地獄遊園殺人事件",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		kindaichi3 : {
			sort : "きんだ3",
			genre : "ADV",
			series : "金田一少年の事件簿",
			title : "金田一少年の事件簿3",
			sub : "青龍伝説殺人事件",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		kuroihitomino_noa : {
			sort : "くろい",
			genre : "RPG",
			title : "黒い瞳のノア",
			status : "未プレイ",
			platform : "PS"
		},
		cross : {
			sort : "クロスた",
			genre : "ADV",
			title : "クロス探偵物語",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		gensou_suikoden : {
			sort : "げんすい1",
			genre : "RPG",
			series : "幻想水滸伝",
			title : "幻想水滸伝",
			stream : true,
			status : "ED未コンプ",
			platform : "PS"
		},
		gensou_suikoden2 : {
			sort : "げんすい2",
			genre : "RPG",
			series : "幻想水滸伝",
			title : "幻想水滸伝Ⅱ",
			stream : true,
			status : "ED未コンプ",
			platform : "PS"
		},
		gunparade_march : {
			sort : "こうきどう",
			genre : "SIM",
			title : "高機動幻想ガンパレード・マーチ",
			stream : false,
			taro : true,
			status : "ED未コンプ",
			platform : "PS",
			love : "3"
		},
		xi : {
			sort : "さい",
			genre : "PZL",
			title : "XI",
			status : "クリア未達成",
			platform : "PS"
		},
		saga_frontier : {
			sort : "サガフロ",
			genre : "RPG",
			title : "サガフロンティア",
			status : "未プレイ",
			platform : "PS",
			love : "3"
		},
		sakura_taisen : {
			sort : "サクラ",
			genre : "ADV",
			title : "サクラ大戦1&2",
			stream : true,
			status : "ED未コンプ",
			platform : "PSP"
		},
		the_book_of_watermarks : {
			sort : "ザブック",
			genre : "ADV",
			title : "THE BOOK OF WATERMARKS",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		jumping_flash : {
			sort : "ジャンピ1",
			genre : "ACT",
			series : "ジャンピングフラッシュ",
			title : "ジャンピングフラッシュ!",
			stream : false,
			status : "プレイ中",
			platform : "PS"
		},
		jumping_flash2 : {
			sort : "ジャンピ2",
			genre : "ACT",
			series : "ジャンピングフラッシュ",
			title : "ジャンピングフラッシュ!2",
			sub : "アロハ男爵大弱りの巻",
			status : "未プレイ",
			platform : "PS"
		},
		zill_oll : {
			sort : "ジルオ",
			genre : "RPG",
			title : "ジルオール インフィニットプラス",
			stream : true,
			status : "ED未コンプ",
			platform : "PSP"
		},
		super_donkey_kong : {
			sort : "スーパードン",
			genre : "ACT",
			title : "スーパードンキーコング",
			status : "クリア未達成",
			platform : "SFC"
		},
		super_bomberman : {
			sort : "スーパーボンバーマン",
			genre : "ACT",
			title : "スーパーボンバーマン",
			status : "クリア未達成",
			platform : "SFC"
		},
		super_mario_world : {
			sort : "スーパーマ",
			genre : "ACT",
			title : "スーパーマリオワールド",
			stream : true,
			status : "クリア未達成",
			platform : "SFC",
			love : "3"
		},
		super_mario_cart : {
			sort : "スーパーマリオカート",
			genre : "RCG",
			title : "スーパーマリオカート",
			status : "クリア未達成",
			platform : "SFC"
		},
		super_mario_collection : {
			sort : "スーパーマリオコレクション",
			genre : "ACT",
			title : "スーパーマリオコレクション",
			status : "クリア未達成",
			platform : "SFC"
		},
		xenogears : {
			sort : "ゼノギアス",
			genre : "RPG",
			title : "ゼノギアス",
			status : "未プレイ",
			platform : "PS"
		},
		senritsuno_sutoratasu : {
			sort : "せんりつ",
			genre : "ADV",
			title : "戦慄のストラタス",
			status : "未プレイ",
			platform : "PSP"
		},
		sokaigi : {
			sort : "そうかい",
			genre : "ACT",
			title : "双界儀",
			status : "未プレイ",
			platform : "PS"
		},
		taikou_risshiden5 : {
			sort : "たいこう",
			genre : "SIM",
			title : "太閤立志伝Ⅴ",
			stream : false,
			status : "停止中",
			platform : "PSP"
		},
		tamamayu_monogatari : {
			sort : "たまゆら",
			genre : "RPG",
			title : "玉繭物語",
			stream : false,
			status : "クリア",
			platform : "PS"
		},
		danjon_syoutenkai : {
			sort : "だんじょん",
			genre : "RPG",
			title : "だんじょん商店会",
			sub : "伝説の剣はじめました",
			stream : false,
			status : "ED未コンプ",
			platform : "PS"
		},
		danball_senki : {
			sort : "ダンボール1",
			genre : "RPG",
			series : "ダンボール戦機",
			title : "ダンボール戦機",
			stream : true,
			status : "クリア",
			platform : "PSP"
		},
		danball_senki_w : {
			sort : "ダンボール2",
			genre : "RPG",
			series : "ダンボール戦機",
			title : "ダンボール戦機W",
			status : "未プレイ",
			platform : "PSP",
			love : "2"
		},
		eltoria : {
			sort : "ちいさな",
			genre : "RPGS",
			title : "小さな王国エルトリア",
			stream : false,
			status : "ED未コンプ",
			platform : "PSアーカイブス"
		},
		dino_crisis : {
			sort : "ディノク1",
			genre : "ADV",
			title : "ディノクライシス",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		dino_crisis2 : {
			sort : "ディノク2",
			genre : "ADV",
			title : "ディノクライシス2",
			status : "未プレイ",
			platform : "PS"
		},
		tales_of_fantasia : {
			sort : "テイルズ1",
			genre : "RPG",
			series : "テイルズオブ",
			title : "テイルズオブファンタジア",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		tales_of_destiny : {
			sort : "テイルズ2",
			genre : "RPG",
			series : "テイルズオブ",
			title : "テイルズオブデスティニー",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		digimon_world : {
			sort : "でじたるもん",
			genre : "SIM",
			title : "デジモンワールド",
			status : "未プレイ",
			platform : "PS"
		},
		tekken3 : {
			sort : "てっけん",
			genre : "FTG",
			title : "鉄拳3",
			status : "未プレイ",
			platform : "PS"
		},
		dewprism : {
			sort : "デュー",
			genre : "ACT",
			title : "デュープリズム",
			stream : false,
			status : "クリア",
			platform : "PSアーカイブス"
		},
		animal_crossing_tobidase : {
			sort : "どうぶつ",
			genre : "ETC",
			series : "どうぶつの森",
			title : "とびだせどうぶつの森",
			stream : false,
			status : "クリア条件なし",
			platform : "DS"
		},
		animal_crossing_pocket : {
			sort : "どうぶつ",
			genre : "ETC",
			series : "どうぶつの森",
			title : "どうぶつの森",
			sub : "ポケットキャンプ",
			stream : false,
			status : "クリア条件なし",
			platform : "スマホ"
		},
		neo_atlas : {
			sort : "ネオア",
			genre : "SIM",
			title : "Neo ATLAS",
			status : "未プレイ",
			platform : "PS"
		},
		biohazard2 : {
			sort : "バイオ2",
			genre : "ACT",
			series : "バイオハザード",
			title : "バイオハザード2",
			stream : true,
			taro : true,
			status : "クリア",
			platform : "PS"
		},
		biohazard3 : {
			sort : "バイオ3",
			genre : "ACT",
			series : "バイオハザード",
			title : "バイオハザード3",
			sub : "ラストエスケープ",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		biohazard4 : {
			sort : "バイオ4",
			genre : "ACT",
			series : "バイオハザード",
			title : "バイオハザード4",
			status : "未プレイ",
			platform : "PS2"
		},
		puzzle_babble4 : {
			sort : "ぱずるぼぶる",
			genre : "PZL",
			title : "パズルボブル4",
			status : "未プレイ",
			platform : "PS"
		},
		parasite_eve : {
			sort : "パラサ1",
			genre : "RPG",
			series : "パラサイトイヴ",
			title : "パラサイトイヴ",
			stream : true,
			taro : true,
			status : "クリア",
			platform : "PS"
		},
		parasite_eve2 : {
			sort : "パラサ2",
			genre : "RPG",
			series : "パラサイトイヴ",
			title : "パラサイトイヴ2",
			status : "未プレイ",
			platform : "PS"
		},
		parasite_eve3 : {
			sort : "パラサ3",
			genre : "ARPG",
			series : "パラサイトイヴ",
			title : "ザ・サード バースデイ",
			status : "未プレイ",
			platform : "PSP"
		},
		baroque : {
			sort : "バロック",
			genre : "RPG",
			title : "BAROQUE",
			sub : "歪んだ妄想",
			stream : false,
			status : "プレイ中",
			platform : "PSアーカイブス"
		},
		beatdown : {
			sort : "ビートダ",
			genre : "ACT",
			title : "BEAT DOWN",
			stream : false,
			status : "ED未コンプ",
			platform : "PS2"
		},
		sailormoon : {
			sort : "びしょうじょせんし",
			genre : "ACT",
			title : "美少女戦士セーラームーン",
			stream : true,
			status : "クリア",
			platform : "SFC"
		},
		final_fight2 : {
			sort : "ファイナルファイト2",
			genre : "ACT",
			title : "ファイナルファイト2",
			stream : true,
			status : "クリア",
			platform : "SFC"
		},
		ff9 : {
			sort : "ファイナルファンタジー9",
			genre : "RPG",
			title : "ファイナルファンタジーⅨ",
			status : "未プレイ",
			platform : "PS"
		},
		phantasy_star : {
			sort : "ファンタシースター",
			genre : "RPGA",
			title : "ファンタシースターポータブル",
			status : "未プレイ",
			platform : "PSP"
		},
		blue_forest_story : {
			sort : "ブルーフォ",
			genre : "RPG",
			title : "ブルーフォレスト物語",
			stream : true,
			status : "ED未コンプ",
			platform : "PS"
		},
		breath_of_fire3 : {
			sort : "ブレスオブ3",
			genre : "RPG",
			series : "ブレスオブファイア",
			title : "ブレスオブファイア3",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		breath_of_fire4 : {
			sort : "ブレスオブ4",
			genre : "RPG",
			series : "ブレスオブファイア",
			title : "ブレスオブファイア4",
			sub : "うつろわざるもの",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		bealphareth : {
			sort : "ベアル",
			genre : "RPGA",
			title : "ベアルファレス",
			status : "未プレイ",
			platform : "PSアーカイブス",
			love : "1"
		},
		vagrant_story : {
			sort : "ベイグラ",
			genre : "RPGA",
			title : "ベイグラントストーリー",
			stream : true,
			status : "プレイ中",
			platform : "PS"
		},
		heracles : {
			sort : "ヘラクレス",
			genre : "RPG",
			title : "ヘラクレスの栄光",
			sub : "魂の証明",
			stream : false,
			status : "クリア",
			platform : "DS"
		},
		homescape : {
			sort : "ホームス",
			genre : "PZL",
			title : "ホームスケイプ",
			stream : true,
			status : "クリア条件なし",
			platform : "スマホ"
		},
		bokunatsu2 : {
			sort : "ぼくのなつ",
			genre : "ADV",
			title : "ぼくのなつやすみ2",
			sub : "海の冒険編",
			stream : false,
			status : "クリア",
			platform : "PS2"
		},
		bokuranotaiyo : {
			sort : "ボクらの",
			genre : "RPGA",
			title : "ボクらの太陽",
			stream : false,
			status : "停止中",
			platform : "DS"
		},
		popolocrois_story : {
			sort : "ポポロ",
			genre : "RPG",
			title : "ポポロクロイス物語",
			stream : true,
			status : "停止中",
			platform : "PS"
		},
		mahoutukaini_naru_houhou : {
			sort : "まほうつ",
			genre : "RPGS",
			title : "魔法使いになる方法",
			stream : false,
			status : "停止中",
			platform : "PSアーカイブス"
		},
		myst : {
			sort : "ミスト1",
			genre : "ADV",
			series : "MYST",
			title : "MYST",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		riven : {
			sort : "ミスト2",
			genre : "ADV",
			series : "MYST",
			title : "RIVEN",
			sub : "THE SEQUEL TO THE MYST",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		musashiden : {
			sort : "むさし",
			genre : "ACT",
			title : "武蔵伝",
			status : "未プレイ",
			platform : "PS"
		},
		conan : {
			sort : "めいたんてい",
			genre : "ADV",
			title : "名探偵コナン",
			stream : true,
			status : "クリア",
			platform : "PS",
			love : "2"
		},
		ygo_tfsp : {
			sort : "ゆうぎおうア",
			genre : "TCG",
			series : "遊☆戯☆王",
			title : "遊戯王ARC-V TFSP",
			stream : true,
			status : "ED未コンプ",
			platform : "PSP",
			love : "2"
		},
		ygo_dm_saikyocard_battle : {
			sort : "ゆうぎおうでぃさ",
			genre : "TCG",
			series : "遊☆戯☆王",
			title : "遊戯王DM 最強カードバトル",
			stream : false,
			status : "クリア",
			platform : "DS"
		},
		yakuza : {
			sort : "りゅうが1",
			genre : "ACT",
			series : "龍が如く",
			title : "龍が如く",
			stream : false,
			status : "クリア",
			platform : "PS2"
		},
		yakuza2 : {
			sort : "りゅうが2",
			genre : "ACT",
			series : "龍が如く",
			title : "龍が如く2",
			stream : false,
			status : "クリア",
			platform : "PS2"
		},
		linda : {
			sort : "リンダ",
			genre : "RPG",
			title : "リンダキューブアゲイン",
			stream : false,
			status : "ED未コンプ",
			platform : "PSアーカイブス"
		},
		lunar : {
			sort : "ルナ1",
			genre : "RPG",
			series : "LUNAR",
			title : "LUNAR",
			sub : "シルバースターストーリー",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		lunar2 : {
			sort : "ルナ2",
			genre : "RPG",
			series : "LUNAR",
			title : "LUNAR2",
			sub : "エターナルブルー",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		lunatic_dawn_odessey : {
			sort : "ルナティック2",
			genre : "RPG",
			series : "ルナティックドーン",
			title : "ルナティックドーンオデッセイ",
			stream : false,
			status : "ED未コンプ",
			platform : "PSアーカイブス"
		},
		lunatic_dawn3 : {
			sort : "ルナティック3",
			genre : "RPG",
			series : "ルナティックドーン",
			title : "ルナティックドーン3",
			stream : true,
			status : "停止中",
			platform : "PS"
		},
		rondonseirei_tanteidan : {
			sort : "ろんどんせいれい",
			genre : "ADV",
			title : "倫敦精霊探偵団",
			stream : true,
			status : "クリア",
			platform : "PS"
		},
		granado_espada : {
			sort : "他1グラナ",
			genre : "RPG",
			title : "Granado Espada",
			stream : true,
			status : "クリア条件なし",
			platform : "Steam"
		},
		jan_ryu_mon : {
			sort : "他1じゃん",
			genre : "TCG",
			title : "雀龍門",
			stream : false,
			status : "停止中",
			platform : "その他"
		},
		stardew_valley : {
			sort : "他1スタデュー",
			genre : "ETC",
			title : "Stardew Valley",
			stream : true,
			status : "今",
			platform : "Steam"
		},
		fgo : {
			sort : "他1フェイトグ",
			genre : "RPG",
			title : "Fate Grand Order",
			stream : false,
			status : "クリア条件なし",
			platform : "スマホ"
		},
		megido72 : {
			sort : "他1メギド",
			genre : "RPG",
			title : "メギド72",
			stream : false,
			status : "クリア条件なし",
			platform : "スマホ"
		},
		ygo_duel_links : {
			sort : "他1ゆうぎおうデュエルリ",
			genre : "TCG",
			series : "遊☆戯☆王",
			title : "遊戯王デュエルリンクス",
			stream : false,
			status : "クリア条件なし",
			platform : "Steam"
		},
		gravity_master : {
			sort : "他2グラヴィティ",
			genre : "PZL",
			title : "Gravity Master",
			stream : true,
			status : "クリア",
			platform : "フリーゲーム",
			love : "1"
		},
		the_house : {
			sort : "他2ザハウス1",
			genre : "HRR",
			series : "The House",
			title : "The House",
			stream : true,
			status : "クリア",
			platform : "フリーゲーム"
		},
		the_house2 : {
			sort : "他2ザハウス2",
			genre : "HRR",
			series : "The House",
			title : "The House2",
			stream : true,
			status : "クリア",
			platform : "フリーゲーム"
		},
		do_you_have_a_grudge : {
			sort : "他2ドゥユー",
			genre : "HRR",
			title : "Do You Have A Grudge?",
			stream : true,
			status : "クリア",
			platform : "フリーゲーム"
		},
		hitorikakurenbo : {
			sort : "他2ひとりかくれんぼ",
			genre : "HRR",
			title : "ひとりかくれんぼ",
			stream : true,
			status : "クリア",
			platform : "フリーゲーム"
		},
		fuunaiuchigakuen_flat : {
			sort : "他2ふううん",
			genre : "ADV",
			title : "風雲相討学園フラット",
			stream : true,
			status : "クリア",
			platform : "フリーゲーム"
		},

		//- test : [
		//- 	{
		//- 		sort : "試験",
		//- 		genre : "EX",
		//- 		title : "シリーズテスト壱"
		//- 		stream : false,
		//- 		status : "停止",
		//- 		platform : "その他A"
		//- 	},{
		//- 		sort : "試験",
		//- 		genre : "EX",
		//- 		title : "シリーズテスト弐"
		//- 		stream : true,
		//- 		status : "今",
		//- 		platform : "その他B"
		//- 	},{
		//- 		sort : "試験",
		//- 		genre : "EX",
		//- 		title : "シリーズテスト参"
		//- 		stream : false,
		//- 		status : "クリア",
		//- 		platform : "その他C"
		//- 	}
		//- ]	//- test
	}