//- サイト基本情報
-
	const サイト名 = "きっこのゲーム手帖"
	const local = "/game/"	//- 固定のリンク先

block value
	-
		let ページタイプ = "article"	//- 基本のページタイプ。記事以外では website を指定する
		let 説明 ="きっこのゲームまとめ"
		let OGPイメージ = "https://kikko.pages.dev/game/img/twittercard.jpg"

//- プレイ中のゲーム -------------------------
-
	const nowgame = [
		{
			sort: "他1スタデュー",
			genre: "ETC",
			title: "Stardew Valley",
			stream: true,
			status: "今",
			platform: "Steam",
			id: "stardew-valley",
		},
		{
			sort: "ベイグラ",
			genre: "RPGA",
			title: "ベイグラントストーリー",
			stream: true,
			status: "プレイ中",
			platform: "PS",
			id: "vagrant-story",
		},
		{
			sort: "エコー1",
			genre: "ADV",
			series: "ECHO NIGHT",
			title: "EHCO NIGHT",
			stream: true,
			status: "今",
			platform: "PS",
			id: "echo-night",
		},
	]

//- 全てのゲーム ---------------------------
-
	const allgame = [
		{
			sort: "アークザ1",
			genre: "RPG",
			series: "アークザラッド",
			title: "アークザラッド",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "arc-the-lad",
		},
		{
			sort: "アークザ2",
			genre: "RPG",
			series: "アークザラッド",
			title: "アークザラッドⅡ",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "arc-the-lad2",
		},
		{
			sort: "アークザ3",
			genre: "RPG",
			series: "アークザラッド",
			title: "アークザラッドⅢ",
			status: "未プレイ",
			platform: "PS",
			id: "arc-the-lad3",
		},
		{
			sort: "アール4",
			genre: "RCG",
			title: "R4",
			sub: "RIDGE RACER TYPE 4",
			stream: true,
			status: "ED未コンプ",
			platform: "PS",
			id: "r4",
		},
		{
			sort: "アヴァロ",
			genre: "RPGA",
			title: "アヴァロンコード",
			stream: false,
			status: "クリア",
			platform: "DS",
			id: "avaloncode",
		},
		{
			sort: "アトリエ1",
			genre: "RPG",
			series: "アトリエ",
			title: "マリーのアトリエ プラス",
			stream: false,
			status: "ED未コンプ",
			platform: "PS",
			id: "atlier-marie",
			love: "2"
		},
		{
			sort: "アトリエ2",
			genre: "RPG",
			series: "アトリエ",
			title: "エリーのアトリエ",
			stream: false,
			status: "ED未コンプ",
			platform: "PS",
			id: "atlier-elie",
			love: "2"
		},
		{
			sort: "アトリエ3",
			genre: "RPG",
			series: "アトリエ",
			title: "リリーのアトリエ",
			stream: false,
			status: "ED未コンプ",
			platform: "PS",
			id: "atlier-lilie",
		},
		{
			sort: "アランドラ1",
			genre: "RPGA",
			series: "アランドラ",
			title: "アランドラ",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "alundra",
			love: "1"
		},
		{
			sort: "アランドラ2",
			genre: "RPGA",
			series: "アランドラ",
			title: "アランドラ2",
			sub: "魔進化の謎",
			stream: true,
			status: "停止中",
			platform: "PS",
			id: "alundra2",
		},
		{
			sort: "アルカイック",
			genre: "RPGS",
			title: "アルカイックシールドヒート",
			stream: false,
			status: "停止中",
			platform: "DS",
			id: "archaic-sealed-heat",
		},
		{
			sort: "イナズマ1",
			genre: "RPGS",
			series: "イナズマイレブン",
			title: "イナズマイレブン",
			status: "停止中",
			platform: "DS",
			id: "inazuma-eleven",
		},
		{
			sort: "イナズマ2",
			genre: "RPGS",
			series: "イナズマイレブン",
			title: "イナズマイレブン2",
			sub: "脅威の侵略者・ファイア",
			status: "未プレイ",
			platform: "DS",
			id: "inazuma-eleven2",
		},
		{
			sort: "イナズマ3",
			genre: "RPGS",
			series: "イナズマイレブン",
			title: "イナズマイレブン3",
			sub: "世界への挑戦!! ボンバー",
			status: "未プレイ",
			platform: "DS",
			id: "inazuma-eleven3",
		},
		{
			sort: "ウェルト",
			genre: "RPG",
			title: "ウェルトオブイストリア",
			stream: false,
			status: "ED未コンプ",
			platform: "PSアーカイブス",
			id: "weltorv-estleia",
			love: "2"
		},
		{
			sort: "エコー1",
			genre: "ADV",
			series: "ECHO NIGHT",
			title: "EHCO NIGHT",
			stream: true,
			status: "今",
			platform: "PS",
			id: "echo-night",
		},
		{
			sort: "エコー2",
			genre: "ADV",
			series: "ECHO NIGHT",
			title: "ECHO NIGHT#2",
			sub: "眠りの支配者",
			stream: true,
			status: "ED未コンプ",
			platform: "PS",
			id: "echo-night2",
		},
		{
			sort: "おれのしか",
			genre: "RPG",
			title: "俺の屍を越えてゆけ",
			stream: false,
			status: "クリア",
			platform: "PSアーカイブス",
			id: "orenoshikabanewo-koeteyuke",
			love: "3"
		},
		{
			sort: "ガイスト",
			genre: "ACT",
			title: "ガイストクラッシャー",
			stream: false,
			status: "クリア",
			platform: "DS",
			id: "gaist-crusher",
		},
		{
			sort: "かぜのク",
			genre: "ACT",
			series: "風のクロノア",
			title: "風のクロノア",
			sub: "door to phantomile",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "klonoa",
		},
		{
			sort: "かぜのク",
			genre: "ACT",
			series: "風のクロノア",
			title: "風のクロノア2",
			sub: "世界が望んだ忘れもの",
			status: "未プレイ",
			platform: "PS2",
		},
		{
			sort: "きんだ1",
			genre: "ADV",
			series: "金田一少年の事件簿",
			title: "金田一少年の事件簿",
			sub: "悲報島 新たなる惨劇",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "kindaichi",
		},
		{
			sort: "きんだ2",
			genre: "ADV",
			series: "金田一少年の事件簿",
			title: "金田一少年の事件簿2",
			sub: "地獄遊園殺人事件",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "kindaichi2",
		},
		{
			sort: "きんだ3",
			genre: "ADV",
			series: "金田一少年の事件簿",
			title: "金田一少年の事件簿3",
			sub: "青龍伝説殺人事件",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "kindaichi3",
		},
		{
			sort: "くろい",
			genre: "RPG",
			title: "黒い瞳のノア",
			status: "未プレイ",
			platform: "PS",
			id: "kuroihitomino-noa",
		},
		{
			sort: "クロスた",
			genre: "ADV",
			title: "クロス探偵物語",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "cross",
		},
		{
			sort: "げんすい1",
			genre: "RPG",
			series: "幻想水滸伝",
			title: "幻想水滸伝",
			stream: true,
			status: "ED未コンプ",
			platform: "PS",
			id: "gensou-suikoden",
		},
		{
			sort: "げんすい2",
			genre: "RPG",
			series: "幻想水滸伝",
			title: "幻想水滸伝Ⅱ",
			stream: true,
			status: "ED未コンプ",
			platform: "PS",
			id: "gensou-suikoden2",
		},
		{
			sort: "こうきどう",
			genre: "SIM",
			title: "高機動幻想ガンパレード・マーチ",
			stream: false,
			taro: true,
			status: "ED未コンプ",
			platform: "PS",
			id: "gumparade-march",
			love: "3"
		},
		{
			sort: "さい",
			genre: "PZL",
			title: "XI",
			status: "クリア未達成",
			platform: "PS",
		},
		{
			sort: "サガフロ",
			genre: "RPG",
			title: "サガフロンティア",
			status: "未プレイ",
			platform: "PS",
			id: "saga-frontier",
			love: "3"
		},
		{
			sort: "サクラ",
			genre: "ADV",
			title: "サクラ大戦1&2",
			stream: true,
			status: "ED未コンプ",
			platform: "PSP",
			id: "sakura-taisen",
		},
		{
			sort: "ザブック",
			genre: "ADV",
			title: "THE BOOK OF WATERMARKS",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "the-book-of-watermarks",
		},
		{
			sort: "ジャンピ1",
			genre: "ACT",
			series: "ジャンピングフラッシュ",
			title: "ジャンピングフラッシュ!",
			stream: false,
			status: "プレイ中",
			platform: "PS",
			id: "jumping-flash",
		},
		{
			sort: "ジャンピ2",
			genre: "ACT",
			series: "ジャンピングフラッシュ",
			title: "ジャンピングフラッシュ!2",
			sub: "アロハ男爵大弱りの巻",
			status: "未プレイ",
			platform: "PS",
			id: "jumping-flash2",
		},
		{
			sort: "ジルオ",
			genre: "RPG",
			title: "ジルオール インフィニットプラス",
			stream: true,
			status: "ED未コンプ",
			platform: "PSP",
			id: "zill-oll",
		},
		{
			sort: "スーパードン",
			genre: "ACT",
			title: "スーパードンキーコング",
			status: "クリア未達成",
			platform: "SFC",
		},
		{
			sort: "スーパーボンバーマン",
			genre: "ACT",
			title: "スーパーボンバーマン",
			status: "クリア未達成",
			platform: "SFC",
		},
		{
			sort: "スーパーマ",
			genre: "ACT",
			title: "スーパーマリオワールド",
			stream: true,
			status: "クリア未達成",
			platform: "SFC",
			id: "super-mario-world",
			love: "3"
		},
		{
			sort: "スーパーマリオカート",
			genre: "RCG",
			title: "スーパーマリオカート",
			status: "クリア未達成",
			platform: "SFC",
		},
		{
			sort: "スーパーマリオコレクション",
			genre: "ACT",
			title: "スーパーマリオコレクション",
			status: "クリア未達成",
			platform: "SFC",
		},
		{
			sort: "ゼノギアス",
			genre: "RPG",
			title: "ゼノギアス",
			status: "未プレイ",
			platform: "PS",
			id: "xenogears",
		},
		{
			sort: "せんりつ",
			genre: "ADV",
			title: "戦慄のストラタス",
			status: "未プレイ",
			platform: "PSP",
			id: "senritsuno-sutoratasu",
		},
		{
			sort: "そうかい",
			genre: "ACT",
			title: "双界儀",
			status: "未プレイ",
			platform: "PS",
			id: "sokaigi",
		},
		{
			sort: "たいこう",
			genre: "SIM",
			title: "太閤立志伝Ⅴ",
			stream: false,
			status: "停止中",
			platform: "PSP",
			id: "taikou-risshiden5",
		},
		{
			sort: "たまゆら",
			genre: "RPG",
			title: "玉繭物語",
			stream: false,
			status: "クリア",
			platform: "PS",
			id: "tamamayu-monogatari",
		},
		{
			sort: "だんじょん",
			genre: "RPG",
			title: "だんじょん商店会",
			sub: "伝説の剣はじめました",
			stream: false,
			status: "ED未コンプ",
			platform: "PS",
			id: "danjon-syoutenkai",
		},
		{
			sort: "ダンボール1",
			genre: "RPG",
			series: "ダンボール戦機",
			title: "ダンボール戦機",
			stream: true,
			status: "クリア",
			platform: "PSP",
			id: "danball-senki",
		},
		{
			sort: "ダンボール2",
			genre: "RPG",
			series: "ダンボール戦機",
			title: "ダンボール戦機W",
			status: "未プレイ",
			platform: "PSP",
			id: "danball-senki-w",
			love: "2"
		},
		{
			sort: "ちいさな",
			genre: "RPGS",
			title: "小さな王国エルトリア",
			stream: false,
			status: "ED未コンプ",
			platform: "PSアーカイブス",
			id: "eltoria",
		},
		{
			sort: "ディノク1",
			genre: "ADV",
			title: "ディノクライシス",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "dino-crisis",
		},
		{
			sort: "ディノク2",
			genre: "ADV",
			title: "ディノクライシス2",
			status: "未プレイ",
			platform: "PS",
		},
		{
			sort: "テイルズ1",
			genre: "RPG",
			series: "テイルズオブ",
			title: "テイルズオブファンタジア",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "tales-of-fantasia",
		},
		{
			sort: "テイルズ2",
			genre: "RPG",
			series: "テイルズオブ",
			title: "テイルズオブデスティニー",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "tales-of-destiny",
		},
		{
			sort: "でじたるもん",
			genre: "SIM",
			title: "デジモンワールド",
			status: "未プレイ",
			platform: "PS",
		},
		{
			sort: "てっけん",
			genre: "FTG",
			title: "鉄拳3",
			status: "未プレイ",
			platform: "PS",
		},
		{
			sort: "デュー",
			genre: "ACT",
			title: "デュープリズム",
			stream: false,
			status: "クリア",
			platform: "PSアーカイブス",
			id: "dewprism",
		},
		{
			sort: "どうぶつ",
			genre: "ETC",
			series: "どうぶつの森",
			title: "とびだせどうぶつの森",
			stream: false,
			status: "クリア条件なし",
			platform: "DS",
			id: "animal-crossing-tobidase",
		},
		{
			sort: "どうぶつ",
			genre: "ETC",
			series: "どうぶつの森",
			title: "どうぶつの森",
			sub: "ポケットキャンプ",
			stream: false,
			status: "クリア条件なし",
			platform: "スマホ",
			id: "animal-crossing-pocket",
		},
		{
			sort: "ネオア",
			genre: "SIM",
			title: "Neo ATLAS",
			status: "未プレイ",
			platform: "PS",
			id: "neo-atlas",
		},
		{
			sort: "バイオ2",
			genre: "ACT",
			series: "バイオハザード",
			title: "バイオハザード2",
			stream: true,
			taro: true,
			status: "クリア",
			platform: "PS",
			id: "biohazard2",
		},
		{
			sort: "バイオ3",
			genre: "ACT",
			series: "バイオハザード",
			title: "バイオハザード3",
			sub: "ラストエスケープ",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "biohazard3",
		},
		{
			sort: "バイオ4",
			genre: "ACT",
			series: "バイオハザード",
			title: "バイオハザード4",
			status: "未プレイ",
			platform: "PS2",
			id: "biohazard4",
		},
		{
			sort: "ぱずるぼぶる",
			genre: "PZL",
			title: "パズルボブル4",
			status: "未プレイ",
			platform: "PS",
		},
		{
			sort: "パラサ1",
			genre: "RPG",
			series: "パラサイトイヴ",
			title: "パラサイトイヴ",
			stream: true,
			taro: true,
			status: "クリア",
			platform: "PS",
			id: "parasite-eve",
		},
		{
			sort: "パラサ2",
			genre: "RPG",
			series: "パラサイトイヴ",
			title: "パラサイトイヴ2",
			status: "未プレイ",
			platform: "PS",
			id: "parasite-eve2",
		},
		{
			sort: "パラサ3",
			genre: "ARPG",
			series: "パラサイトイヴ",
			title: "ザ・サード バースデイ",
			status: "未プレイ",
			platform: "PSP",
			id: "parasite-eve3",
		},
		{
			sort: "バロック",
			genre: "RPG",
			title: "BAROQUE",
			sub: "歪んだ妄想",
			stream: false,
			status: "プレイ中",
			platform: "PSアーカイブス",
			id: "baroque",
		},
		{
			sort: "ビートダ",
			genre: "ACT",
			title: "BEAT DOWN",
			stream: false,
			status: "ED未コンプ",
			platform: "PS2",
			id: "beatdown",
		},
		{
			sort: "びしょうじょせんし",
			genre: "ACT",
			title: "美少女戦士セーラームーン",
			stream: true,
			status: "クリア",
			platform: "SFC",
			id: "sailormoon",
		},
		{
			sort: "ファイナルファイト2",
			genre: "ACT",
			title: "ファイナルファイト2",
			stream: true,
			status: "クリア",
			platform: "SFC",
			id: "final-fight2",
		},
		{
			sort: "ファイナルファンタジー9",
			genre: "RPG",
			title: "ファイナルファンタジーⅨ",
			status: "未プレイ",
			platform: "PS",
			id: "ff9",
		},
		{
			sort: "ファンタシースター",
			genre: "RPGA",
			title: "ファンタシースターポータブル",
			status: "未プレイ",
			platform: "PSP",
			id: "phantasy-star",
		},
		{
			sort: "ブルーフォ",
			genre: "RPG",
			title: "ブルーフォレスト物語",
			stream: true,
			status: "ED未コンプ",
			platform: "PS",
			id: "blue-forest-story",
		},
		{
			sort: "ブレスオブ3",
			genre: "RPG",
			series: "ブレスオブファイア",
			title: "ブレスオブファイア3",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "breath-of-fire3",
		},
		{
			sort: "ブレスオブ4",
			genre: "RPG",
			series: "ブレスオブファイア",
			title: "ブレスオブファイア4",
			sub: "うつろわざるもの",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "breath-of-fire4",
		},
		{
			sort: "ベアル",
			genre: "RPGA",
			title: "ベアルファレス",
			status: "未プレイ",
			platform: "PSアーカイブス",
			id: "bealphareth",
			love: "1"
		},
		{
			sort: "ベイグラ",
			genre: "RPGA",
			title: "ベイグラントストーリー",
			stream: true,
			status: "プレイ中",
			platform: "PS",
			id: "vagrant-story",
		},
		{
			sort: "ヘラクレス",
			genre: "RPG",
			title: "ヘラクレスの栄光",
			sub: "魂の証明",
			stream: false,
			status: "クリア",
			platform: "DS",
			id: "heracles",
		},
		{
			sort: "ホームス",
			genre: "PZL",
			title: "ホームスケイプ",
			stream: true,
			status: "クリア条件なし",
			platform: "スマホ",
			id: "homescape",
		},
		{
			sort: "ぼくのなつ",
			genre: "ADV",
			title: "ぼくのなつやすみ2",
			sub: "海の冒険編",
			stream: false,
			status: "クリア",
			platform: "PS2",
			id: "bokunatsu2",
		},
		{
			sort: "ボクらの",
			genre: "RPGA",
			title: "ボクらの太陽",
			stream: false,
			status: "停止中",
			platform: "DS",
			id: "bokuranotaiyo",
		},
		{
			sort: "ポポロ",
			genre: "RPG",
			title: "ポポロクロイス物語",
			stream: true,
			status: "停止中",
			platform: "PS",
			id: "popolocrois-story",
		},
		{
			sort: "まほうつ",
			genre: "RPGS",
			title: "魔法使いになる方法",
			stream: false,
			status: "停止中",
			platform: "PSアーカイブス",
			id: "mahoutukaini-naru-houhou",
		},
		{
			sort: "ミスト1",
			genre: "ADV",
			series: "MYST",
			title: "MYST",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "myst",
		},
		{
			sort: "ミスト2",
			genre: "ADV",
			series: "MYST",
			title: "RIVEN",
			sub: "THE SEQUEL TO THE MYST",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "riven",
		},
		{
			sort: "むさし",
			genre: "ACT",
			title: "武蔵伝",
			status: "未プレイ",
			platform: "PS",
			id: "musashiden",
		},
		{
			sort: "めいたんてい",
			genre: "ADV",
			title: "名探偵コナン",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "conan",
			love: "2"
		},
		{
			sort: "ゆうぎおうア",
			genre: "TCG",
			series: "遊☆戯☆王",
			title: "遊戯王ARC-V TFSP",
			stream: true,
			status: "ED未コンプ",
			platform: "PSP",
			id: "ygo-tfsp",
			love: "2"
		},
		{
			sort: "ゆうぎおうでぃさ",
			genre: "TCG",
			series: "遊☆戯☆王",
			title: "遊戯王DM 最強カードバトル",
			stream: false,
			status: "クリア",
			platform: "DS",
			id: "ygo-dm-saikyocard-battle",
		},
		{
			sort: "りゅうが1",
			genre: "ACT",
			series: "龍が如く",
			title: "龍が如く",
			stream: false,
			status: "クリア",
			platform: "PS2",
			id: "yakuza",
		},
		{
			sort: "りゅうが2",
			genre: "ACT",
			series: "龍が如く",
			title: "龍が如く2",
			stream: false,
			status: "クリア",
			platform: "PS2",
			id: "yakuza2",
		},
		{
			sort: "リンダ",
			genre: "RPG",
			title: "リンダキューブアゲイン",
			stream: false,
			status: "ED未コンプ",
			platform: "PSアーカイブス",
			id: "linda",
		},
		{
			sort: "ルナ1",
			genre: "RPG",
			series: "LUNAR",
			title: "LUNAR",
			sub: "シルバースターストーリー",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "lunar",
		},
		{
			sort: "ルナ2",
			genre: "RPG",
			series: "LUNAR",
			title: "LUNAR2",
			sub: "エターナルブルー",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "lunar2",
		},
		{
			sort: "ルナティック2",
			genre: "RPG",
			series: "ルナティックドーン",
			title: "ルナティックドーンオデッセイ",
			stream: false,
			status: "ED未コンプ",
			platform: "PSアーカイブス",
			id: "lunatic-dawn-odessey",
		},
		{
			sort: "ルナティック3",
			genre: "RPG",
			series: "ルナティックドーン",
			title: "ルナティックドーン3",
			stream: true,
			status: "停止中",
			platform: "PS",
			id: "lunatic-dawn3",
		},
		{
			sort: "ろんどんせいれい",
			genre: "ADV",
			title: "倫敦精霊探偵団",
			stream: true,
			status: "クリア",
			platform: "PS",
			id: "rondonseirei-tanteidan",
		},
		{
			sort: "他1グラナ",
			genre: "RPG",
			title: "Granado Espada",
			stream: true,
			status: "クリア条件なし",
			platform: "Steam",
			id: "granado-espada",
		},
		{
			sort: "他1じゃん",
			genre: "TCG",
			title: "雀龍門",
			stream: false,
			status: "停止中",
			platform: "その他",
			id: "jan-ryu-mon",
		},
		{
			sort: "他1スタデュー",
			genre: "ETC",
			title: "Stardew Valley",
			stream: true,
			status: "今",
			platform: "Steam",
			id: "stardew-valley",
		},
		{
			sort: "他1フェイトグ",
			genre: "RPG",
			title: "Fate Grand Order",
			stream: false,
			status: "クリア条件なし",
			platform: "スマホ",
			id: "fgo",
		},
		{
			sort: "他1メギド",
			genre: "RPG",
			title: "メギド72",
			stream: false,
			status: "クリア条件なし",
			platform: "スマホ",
			id: "megido72",
		},
		{
			sort: "他1ゆうぎおうデュエルリ",
			genre: "TCG",
			series: "遊☆戯☆王",
			title: "遊戯王デュエルリンクス",
			stream: false,
			status: "クリア条件なし",
			platform: "Steam",
			id: "ygo-duel-links",
		},
		{
			sort: "他2グラヴィティ",
			genre: "PZL",
			title: "Gravity Master",
			stream: true,
			status: "クリア",
			platform: "フリーゲーム",
			id: "gravity-master",
			love: "1"
		},
		{
			sort: "他2ザハウス1",
			genre: "HRR",
			series: "The House",
			title: "The House",
			stream: true,
			status: "クリア",
			platform: "フリーゲーム",
			id: "the-house",
		},
		{
			sort: "他2ザハウス2",
			genre: "HRR",
			series: "The House",
			title: "The House2",
			stream: true,
			status: "クリア",
			platform: "フリーゲーム",
			id: "the-house2",
		},
		{
			sort: "他2ドゥユー",
			genre: "HRR",
			title: "Do You Have A Grudge?",
			stream: true,
			status: "クリア",
			platform: "フリーゲーム",
			id: "do-you-have-a-grudge",
		},
		{
			sort: "他2ひとりかくれんぼ",
			genre: "HRR",
			title: "ひとりかくれんぼ",
			stream: true,
			status: "クリア",
			platform: "フリーゲーム",
			id: "hitorikakurenbo",
		},
		{
			sort: "他2ふううん",
			genre: "ADV",
			title: "風雲相討学園フラット",
			stream: true,
			status: "クリア",
			platform: "フリーゲーム",
			id: "fuunaiuchigakuen-flat",
		}
	]
