h1.site-title
	a(href=local)
		img(src=local+"img/logo.svg" alt=サイト名)


nav#navi
	ul
		li: a(href=local) ゲームリスト
		li: a(href=local+"about.html") 配信について
		li: a(href="https://www.youtube.com/@coccokikko") Youtube
		li: a(href="/") きっこっこ*
