//- <header> 中身だけ記述 -----

h1(class="site-title")
	a(href="/game/")
		img(src=local+"img/logo.svg" alt=サイト名)


nav(id="navi" class="")
	ul(class="")
		li: a(href="/game/") ゲームリスト
		li: a(href="/game/about.html") 配信について
		li: a(href="https://www.youtube.com/@coccokikko") Youtube
		li: a(href="/") きっこっこ*
