include _database.pug
doctype html
html(lang="ja")
	head
		include _meta.pug

	body
		header
			include _header.pug

		main
			article#page.container
				h2.game-title=ページタイトル
				section#summary.page-chest
					div
						img(src=URL+"package.jpg", alt width="100%")
						p.series
						p.tag

					div.text
						h3.section-title あらすじ
						block あらすじ
				section#video
				h3.section-title 配信ログ
				div.video-grid



		footer(id="footer")
			block footer
				include _footer.pug

		block script
			script(src="")